name: Build and Deploy
on: [push]
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master

    - name: vuepress-deploy
      uses: jenkey2011/vuepress-deploy@master
      env:
        ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        TARGET_REPO: Frezyx/talker
        TARGET_BRANCH: docs
        BUILD_SCRIPT: npm install && npm run build
        BUILD_DIR: docs/site/src/.vuepress/dist